@import "../../../styles/variables";
@import "../../../styles/fonts";

//General styling
#backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999999998;
}
#modal {
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #FFFFFF;
  position: fixed;
  box-shadow: 1px 0 18px 7px rgba(50, 50, 50, 0.1);
  border-radius: 5px;
  color: #1A1A1A;
  font-family: $lato !important;
  z-index: 999999999;
}
#modal-container {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
}
.modal-row {
  margin-top: 1em;
  margin-bottom: 1em;
}

//Icons
.modal-icon {
  height: 0.8em;
  margin-right: 0.5em;
}
.modal-icon-large {
  height: 1em;
  margin-right: 0.5em;
}
.modal-icon-float-right {
  float: right;
  margin-top: 0.2em;
  margin-right: 0em;
}

//Seperator 
hr.modal-separator {
  border: 1px solid $greyWhite;
  margin: 0;
  margin-left: -1em;
  margin-right: -1em;
}

//Title 
.modal-row-title {
  font-family: $ibarra !important;
  font-weight: 400;
  font-size: 20px;
}

// Alternatives section
.modal-row-title-alternative {
  margin-bottom: 0.5em;
}
.modal-row-alternatives-container {
  display: flex;
  flex-direction: column;
}
.remove-text {
  text-decoration: line-through !important;
}
.modal-link {  
  font-weight: bold;     
  color: #5ACFB9;
  background: rgba(90, 207, 185, 0.1);
  display: table;
  margin: 5px auto 5px 0px;
  padding: 2px;
  cursor: pointer;
}

// Ignore section
.modal-row-ignore {
  color: #E6635A;
  font-weight: bold;
  margin-top: 0.5em;
  cursor: pointer;
}

// More info section
.modal-row-more-title {
  font-weight: bold;
  color: #1A1A1A;
  cursor: pointer;
}
.modal-row-more-text {
  color: #656565;
  margin-left: 1em;
}

//Settings section
.modal-row-url {
  color: #656565;

  &:hover {
    color: #656565;
    text-decoration: none;
  }
}