PREMIUM_TEST_USER_EMAIL = 'witty.works.premium.user@gmail.com'
PREMIUM_TEST_USER_PASSWORD = '<can be found in 1Password>'
PROXY_SERVER = '<can be found in 1Password>'
PROXY_USERNAME = '<can be found in 1Password>'
PROXY_PASSWORD = '<can be found in 1Password>'