@import '../../../styles/variables';

.toggle-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: $black;
  margin-right: -2em;
}

.toggle-seperator {
  background-color: $whiteGray;
  margin-bottom: 1em;
  border: 0;
  height: 1px;
}

.toggle-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.toggle-encloser {
  cursor: pointer;
  width: 100px;
  height: 60px;
  background: grey;
  border-radius: 100px;
  position: relative;
  transition: background-color 0.2s;
}

.toggle-encloser .toggle-button {
  content: '';
  position: absolute;
  top: 8px;
  left: 6px;
  width: 45px;
  height: 45px;
  border-radius: 45px;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.toggle-checkbox:checked + .toggle-encloser .toggle-button {
  left: calc(100% - 6px);
  transform: translateX(-100%);
}

.toggle-encloser:active .toggle-button {
  width: 60px;
}
