@import '../../../styles/variables';

.toggle-lock {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: -3rem;

  .toggle-lock-info {
    display: none;
  }

  &:hover {
    .toggle-lock-info {
      display: block;
      position: absolute;
      width: 30em;
      margin-bottom: 3em;
      margin-left: -15em;
      font-family: $lato;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
    }
  }
}

.toggle-premium-only {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.toggle-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.toggle-encloser {
  cursor: pointer;
  width: 100px;
  height: 60px;
  background: grey;
  border-radius: 100px;
  position: relative;
  transition: background-color 0.2s;
}

.toggle-button {
  content: '';
  position: absolute;
  top: 8px;
  left: 6px;
  width: 45px;
  height: 45px;
  border-radius: 45px;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.toggle-checkbox:checked + .toggle-encloser .toggle-button {
  left: calc(100% - 6px);
  transform: translateX(-100%);
}
