@import '../../styles/variables';
@import '../../styles/fonts';

#wittyworks-popover {
  display: 'flex';
  background-color: $white;
  padding: 0 8px;
  box-shadow: 1px 0 18px 7px rgba(50, 50, 50, 0.1);
  border-radius: 5px;
  min-width: 272px;
  z-index: 9999999;
}

#wittyworks-popover-content {
  display: flex;
  flex-direction: column;
}

.wittyworks-popover-alternative-btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.5em;

  &:hover {
    .wittyworks-popover-alternative-btn {
      background-color: $opaqueGreen;
    }
    .wittyworks-popover-alternative-context {
      color: $green;
    }
  }
}

.wittyworks-popover-alternative-btn {
  background-color: $lightGreen;
  display: table;
  padding: 0px 8px;
  border-radius: 8px;
  cursor: pointer;
  white-space: nowrap;

  &.remove-text {
    text-decoration: line-through !important;
  }
}

.ignore-color-transformer {
  filter: invert(38%) sepia(2%) saturate(0%) hue-rotate(73deg) brightness(100%)
    contrast(89%);

  &:hover {
    filter: invert(39%) sepia(86%) saturate(747%) hue-rotate(323deg)
      brightness(109%) contrast(80%);
    color: $orange;
  }
}
