@import '../../styles/variables';
@import '../../styles/fonts';

#wittyworks-popover {
  display: 'flex';
  background-color: $white;
  color: $black;
  z-index: 999999999;
  padding-left: 16px;
  padding-right: 16px;
  box-shadow: 1px 0 18px 7px rgba(50, 50, 50, 0.1);
  border-radius: 5px;
  font-family: $lato !important;
  width: 17.75em;
}

#wittyworks-popover-content {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
}

.wittyworks-popover-row {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.wittyworks-popover-row-title {
  font-weight: 700;
  font-size: 20px;
}

.wittyworks-popover-separator {
  margin: 0;
  margin-left: -1em;
  margin-right: -1em;
  background-color: $whiteGray;
  border: 0;
  height: 1px;
}

// Alternatives section
.wittyworks-popover-row-title-alternative {
  margin-bottom: 0.5em;
}

.wittyworks-popover-alternative-btn-container {
  display: flex;
  flex-direction: row;

  &:hover {
    .wittyworks-popover-alternative-btn {
      background-color: $opaqueGreen;
    }
    .wittyworks-popover-alternative-context {
      color: $green;
    }
  }
}

.wittyworks-popover-alternative-context {
  color: $lightGray;
  font-style: italic;
  font-weight: 400;
  padding: 2px 8px;
  margin: 4px 0px 4px 0px;
}

.wittyworks-popover-alternative-btn {
  font-weight: bold;
  color: $green;
  background-color: $lightGreen;
  display: table;
  margin: 4px 0px 4px 0px;
  padding: 2px 8px;
  border-radius: 2px;
  cursor: pointer;

  &.remove-text {
    text-decoration: line-through !important;
  }
}

// Ignore section
.wittyworks-popover-row-ignore-container {
  display: flex;
  flex-direction: column;
  filter: invert(38%) sepia(2%) saturate(0%) hue-rotate(73deg) brightness(100%)
    contrast(89%);
  color: $darkGray;

  &:hover {
    filter: invert(39%) sepia(86%) saturate(747%) hue-rotate(323deg)
      brightness(109%) contrast(80%);
    color: $errorRed;
  }
}

.wittyworks-popover-ignore-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  margin-top: 0.5em;
  cursor: pointer;
}

//Icons
.wittyworks-popover-icon {
  margin-right: 0.5em;
  margin-left: 0.5em;
}
.wittyworks-popover-emoji {
  margin-right: 1em;
  margin-left: 0.5em;
}

.wittyworks-popover-icon-float-right {
  cursor: pointer;
  margin-left: auto;
}

// More info section
.wittyworks-popover-row-explanation {
  display: flex;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  cursor: pointer;
}

.wittyworks-popover-row-explanation-text {
  max-width: 12.31em;
  font-weight: 700;
  line-height: 108.5%;
}

.wittyworks-popover-row-explanation-url {
  display: flex;
  font-weight: 400;
  flex-direction: row;
  align-items: center;
  color: $darkGray;
  cursor: pointer;
  line-height: 63%;
  margin-top: 0.5em;
  white-space: nowrap;

  &:hover {
    color: $darkGray;
  }
}

//Navigation
.wittyworks-popover-row-navigation {
  display: flex;
}
