// colors
$black: #1a1a1a;
$whiteGray: #f1f2f2;
$darkGray: #656565;
$errorRed: #e6635a;

// brand colors
$green: #5acfb9;
$purple: #9489db;

// fonts
$ibarra: Ibarra Real Nova, 'Times New Roman', Times, serif;
$lato: Lato, Arial, Helvetica, sans-serif;

// font weights
$thin: 100;
$exlight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$exbold: 800;
$exblack: 900;
