@import "../styles/fonts";
@import "../styles/reset";
@import "../styles/variables";

body {
  font-family: Helvetica, Arial, sans-serif;
  color: $black;
  background-color: $greyWhite;
}

#popup {
  min-width: 400px;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: 0 auto;

  h2 {
    font-size: 25px;
    text-align: center;
    background-color: $grey;
    padding: 1rem 1rem 1rem 0;
  }

  div {
    padding: 0.5rem 1rem 0;
  }
}