@use '../../../styles/fonts' as *;
@use '../../../styles/variables' as *;

.witty-works-ext-witty-toast {
  position: fixed;
  z-index: 9999999;
  top: 1rem;
  right: 1rem;
  border-radius: 3px;
  box-shadow: 1px 0 18px 7px rgba(50, 50, 50, 0.1);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  font-family: $lato;
  font-size: 14px;
  background-color: $white;
  color: $black;
  animation: toast-slide 0.5s;

  &.error {
    background-color: $errorRed;
    color: $white;
  }

  .witty-works-ext-witty-toast-title {
    font-weight: 700;
  }
}

@keyframes witty-works-ext-toast-slide {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
