[witty-is-enabled=true][witty-could-determine-lang=true] .ng.Lm {
    display: none !important;
}

[witty-is-enabled=true][witty-could-determine-lang=true] .ng.Lm {
    background-image: none !important;
}

[witty-is-enabled=true][witty-could-determine-lang=true] .ng.LI {
    background-image: none !important;
}

[witty-is-enabled=true][witty-could-determine-lang=true] .pl {
  display: none;
}
